* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #5c5959;
  color: #333;
  background-image: url(/img/background-image2.jpg); /* Adiciona a imagem de fundo */
  background-size: cover; /* Faz a imagem cobrir todo o container */
  background-position: center; /* Centraliza a imagem */
}

/* Seção de Cabeçalho */
header {
  background-color: rgba(0, 0, 0, 0.356);
  /* Adiciona um efeito de desfoque para melhorar a legibilidade do texto */
  backdrop-filter: blur(5px);
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* Container que segura o texto e a imagem */
.container-principal {
  display: flex; /* Ativa o modo Flexbox */
  align-items: center; /* Centraliza verticalmente o texto com a foto */
  justify-content: space-around; /* Empurra a foto para a direita e o texto para a esquerda com espaço entre eles */
  padding: 50px 10%; /* Dá um respiro nas laterais */
}

/* Seção de Conteúdo Principal */
.hero {
  width: 50%; /* Define uma largura para o texto */
  text-align: center; /* Mantém o texto alinhado à esquerda dentro do bloco dele */
  color: #fff;
  background-color: rgba(0, 0, 0, 0.356);
  padding: 35px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
}

.foto-perfil {
  width: 350px; /* Ajustei um pouco o tamanho para caber melhor */
  height: auto; /* Mantém a proporção da foto */
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.356); /* Um sombreado para dar profundidade */
}

/* Para garantir que os projetos lá embaixo não subam */
.project {
  padding: 20px 10%; /* Cor de fundo para destacar do hero */
  color: #fff;
}

/* Seção de Contato */
.contact {
  /* Adiciona um efeito de desfoque para melhorar a legibilidade do texto */
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.356);
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* Seção de Rodapé */
footer {
  /* Adiciona um efeito de desfoque para melhorar a legibilidade do texto */
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.356);
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
